body {
  background: #f8f9fa;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}


.rsac-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
  flex-wrap: wrap;
}

.rsac-logo {
  width: 50px;
  height: auto;
  flex-shrink: 0;
}
.rsac-header h1 {
  font-size: 1rem;
  font-weight: bold;
  color: #003366;
  margin: 0;
  text-align: left;
  flex: 1;
}
@media (max-width: 600px) {
  rsac-header {
    justify-content: flex-start;
  }

  rsac-header h1 {
    font-size: 0.9rem;
  }
}

.layout {
  display: grid;
  grid-template-columns: 28% 72%;
  gap: 12px;
  padding: 10px;
}

.chart-pane {
  height: calc(100vh - 180px);
  background: white;
  padding: 10px;
}
select,
button {
  font-size: 0.8rem;
  padding: 5px 8px;
  flex-shrink: 0;
}
.table-wrap {
  flex: 1;
  overflow: auto;
}
th:first-child,
    td:first-child {
      width: 60px;
      font-weight: 600;
    }



.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}



.table-pane {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}



table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 6px;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 0.85rem;
}

td, th {
  border: 1px solid #ddd;
  padding: 4px;
}

.pagination {
  justify-content: center;
      flex-wrap: wrap;
      margin: 8px 0;
}

.pagination button.active {
  background: #3498db;
  color: white;
}
