name: Creating EC2

on:
    push:
        branches:
            master

jobs:
    provision-ec2:
        runs-on: ubuntu-latest 
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Configure AWS credentials
            uses: aws-actions/configure-aws-credentials@v4
            with:
              aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
              aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
              aws-region: ap-south-1

            
          - name: Launch EC2 instance
            run: 
              aws ec2 run-instances \ 
              --image-id ami-019715e0d74f695be \
              --count 1 \
              --instance-type t2.micro \
              --key-name mypair \
              --security-group-ids sg-062a6b166596e2bc1
                  

        
        



            
              

        
        
        

